![example](images/cover_image.webp)

# Aviation Risk Evaluation

**Author:** Kelvin Kipkorir
***

## Overview
Our company has decided to diversify its business portfolio by entering the aviation industry. It aims to purchase and operate airplanes for both commercial and private enterprises. This analysis utilizes data from the National Transportation Safety Board (1962–2023), which includes aviation accident records, to identify the aircraft with the lowest risk. Additionally, the findings will be translated into actionable insights to assist the head of the new aviation division in making informed aircraft purchasing decisions.

## Business Problem

Our company is expanding into the aviation industry by purchasing and operating aircraft for both commercial and private enterprises. However, one of the key challenges is determining which aircraft models pose the least risk in terms of safety and operational efficiency.To address this, we will analyze aviation accident data to identify aircraft with the lowest risk. This analysis will focus on factors such as accident rates, causes, and operational conditions. By answering these questions, we aim to provide actionable insights that will help the head of the new aviation division make data-driven decisions on which aircraft to purchase, ensuring both safety and business sustainability.

## Data Understanding

The data used in this analysis is from the National Transportation Safety Board(NTSB) and is obtained from [kaggle](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses).The NTSB aviation accident dataset contains information from 1962 to 2023 about civil aviation accidents and selected incidents within the United States, its territories and possessions, and in international waters

The dataset contains 88889 rows and 31 columns and each record row is an aviation inncident that was recorded.

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [4]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
# look through our directory
!ls

AviationData.csv
README.md
USState_Codes.csv
dsc-phase1-project-template.ipynb
images

In [14]:
#Read the aviation_csv  
orig_aviation_df = pd.read_csv('AviationData.csv',encoding='latin-1',low_memory=False)
orig_aviation_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [15]:
#checking for missing values
orig_aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [16]:
#looking at dataset's columns
orig_aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

****
Before beginning the analysis, I looked at the meaning of each of the column and here are few of the columns and the descriptions of the data they hold:
<br>
****
**Amateur.Built** - Indicates whether an aircraft was homebuilt by an individual or manufactured by a certified company.<br>
**FAR.Description** - Specifies the Federal Aviation Regulations (FAR) under which the aircraft was operating.<br>
**Broad.phase.of.flight**- Identifies the phase of flight in which an accident occurred (e.g. Takeoff, Landing).<br>
**Injury.Severity** - Categorizes the severity of injuries in an accident (e.g., Fatal).
****

In [28]:
#looking at total null values per column
orig_aviation_df.isna().sum().sort_values(ascending=False)

Schedule                  76307
Air.carrier               72241
FAR.Description           56866
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38640
Airport.Name              36099
Broad.phase.of.flight     27165
Publication.Date          13771
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7077
Report.Status              6381
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Registration.Number        1317
Injury.Severity            1000
Country                     226
Amateur.Built               102
Model                        92
Make                         63
Location                     52
Event.Date                    0
Accident.Number               0
Investigation.Type            0
Event.Id                      0
dtype: int64


Since our analysis focused more on finding aircraft with the least risk we can look at the most common makes and models of planes with most accidents.Also which aircraft category have the most accidents

In [29]:
#Looking through the values of makes to see which have the most common accidents
orig_aviation_df['Make'].value_counts()

Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
HOFFMAN DAVID K        1
REARWIN                1
Bedeell                1
Rygg                   1
GERALD NELSON          1
Name: Make, Length: 8237, dtype: int64

In [30]:
# models to see which have the most accidents
orig_aviation_df['Model'].value_counts()

152                2367
172                1756
172N               1164
PA-28-140           932
150                 829
                   ...
180M                  1
Zodiac CH601XL        1
777-236               1
CUBY WAG-A-BOND       1
VELOCITY RG 173       1
Name: Model, Length: 12318, dtype: int64

In [31]:
#aircraft category
orig_aviation_df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [32]:
#Injury.Severity
orig_aviation_df['Injury.Severity'].value_counts()

Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(121)        1
Fatal(138)        1
Fatal(83)         1
Fatal(256)        1
Fatal(229)        1
Name: Injury.Severity, Length: 109, dtype: int64

In [33]:
#purpose of the flight
orig_aviation_df['Purpose.of.flight'].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [34]:
#exploring the Report.Status
orig_aviation_df['Report.Status'].value_counts()

Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      61754
Foreign                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          167
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                                                                                                                                                                                                                                           56
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
The pilot did not maintain control of the airplane during the go-around.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
The pilots inadequate compensation for the wind conditions during takeoff.                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
The pilot's failure to properly configure the landing gear before performing a water landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
The pilots inadequate preflight planning for a low-level aerial surveillance flight of power transmission lines, which led to his being unaware of the crossing power line while flying toward the sun and his subsequent failure to maintain sufficient clearance from the wire.\r                                                                                                                                                                                                                                                                    1
The failure of the flight instructor and the pilot to abort the takeoff after the airplane experienced a partial loss of engine power with adequate runway remaining, and their subsequent failure to maintain adequate airspeed, which led to the airplane exceeding its critical angle-of-attack and experiencing an aerodynamic stall. Contributing to the accident was an intermittent loss of engine power for reasons that could not be determined during postaccident examination of the wreckage due to extensive postcrash fire damage.        1
Name: Report.Status, Length: 17075, dtype: int64

In [35]:
orig_aviation_df['Aircraft.damage'].value_counts()

Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

## Data Preparation

The dataset contains 31 columns most of which will are not important in the analysis.
Columns that are going to be dropped:
Longitude and Latitude - Since the countries and location variables can aternatively be used
Schedule,Air.Carrier,FAR Description - has high number of missing values
Airport.Code and Airport.Name - they don't directly relate to the problem at hand
Total.Minor.Injuries,Total.Serious.Injuries,Total.Fatal.Injuries,Total.Injured,Aircraft.damage - can be handled using the Injury.Severity column
Published date- the Event.Date can be used
Accident.Number,Investigation.Type,Event.ID and Registration.Number - they are more of identification data

Dealing with missing values in different columns:
Aircraft.Category,Broad.phase.of.flight - There are many missing values but since they are important variables I am going to replace.
For all other remaining columns I remove the null values.


Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [43]:
#Cleaning the columns we will not use 
columns_to_drop = ['Longitude','Latitude','Airport.Name','Airport.Code','Total.Minor.Injuries','Total.Serious.Injuries',
                   'Total.Fatal.Injuries','Total.Uninjured','Schedule','Accident.Number','Investigation.Type','Event.Id' ,
                   'Registration.Number','Publication.Date','Air.carrier','FAR.Description']
mod_aviation_df = orig_aviation_df.drop(columns_to_drop,axis=1)

In [46]:
mod_aviation_df.head(3)

,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Weather.Condition,Broad.phase.of.flight,Report.Status
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,UNK,Cruise,Probable Cause
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,UNK,Unknown,Probable Cause
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,IMC,Cruise,Probable Cause

In [47]:
mod_aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Event.Date             88889 non-null  object
 1   Location               88837 non-null  object
 2   Country                88663 non-null  object
 3   Injury.Severity        87889 non-null  object
 4   Aircraft.damage        85695 non-null  object
 5   Aircraft.Category      32287 non-null  object
 6   Make                   88826 non-null  object
 7   Model                  88797 non-null  object
 8   Amateur.Built          88787 non-null  object
 9   Number.of.Engines      82805 non-null  float64
 10  Engine.Type            81812 non-null  object
 11  Purpose.of.flight      82697 non-null  object
 12  Weather.Condition      84397 non-null  object
 13  Broad.phase.of.flight  61724 non-null  object
 14  Report.Status          82508 non-null  object
dtypes: float64(1), object(14)
memory usage: 10.2+ MB

In [ ]:
#Replacing Null values in the Aircraft.Category And Broad.phase.of.flight
mod_aviation_df =

In [ ]:
#Also drop rows with null values and those with unknown values

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***